In this notebook, we will learn about loops and functional programming in R.

* [For loops](#For-loops)
* [While loops](#While-loops)
* [The map functions](#The-map-functions)

In [26]:
library(tidyverse) # we'll use the purrr package from tidyverse
library(stringr)

# For loops

In [2]:
print(mtcars)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

In [8]:
mean(mtcars$mpg)

[1] 20.09062

In [9]:
mean(mtcars$cyl)

[1] 6.1875

In [10]:
mean(mtcars$disp)

[1] 230.7219

In [11]:
mean(mtcars$hp)

[1] 146.6875

In [12]:
mean(mtcars$drat)
mean(mtcars$wt)
mean(mtcars$qsec)
mean(mtcars$vs)
mean(mtcars$am)
mean(mtcars$gear)
mean(mtcars$carb)

[1] 3.596563

[1] 3.21725

[1] 17.84875

[1] 0.4375

[1] 0.40625

[1] 3.6875

[1] 2.8125

In [15]:
ncol(mtcars)

[1] 11

In [18]:
for (i in 1:ncol(mtcars)) {
    print(mean(mtcars[[i]]))
}

[1] 20.09062
[1] 6.1875
[1] 230.7219
[1] 146.6875
[1] 3.596563
[1] 3.21725
[1] 17.84875
[1] 0.4375
[1] 0.40625
[1] 3.6875
[1] 2.8125

Instead of just printing the 11 column means, let us store them in a vector `output`.

In [20]:
output <- vector("double", ncol(mtcars)) # allocate enough space in the vector
for (i in 1:ncol(mtcars)) {
    output[[i]] <- mean(mtcars[[i]])
}

Let us examine `output` now.

In [21]:
output

 [1]  20.090625   6.187500 230.721875 146.687500   3.596563   3.217250
 [7]  17.848750   0.437500   0.406250   3.687500   2.812500

In [22]:
typeof(output)
length(output)

[1] "double"

[1] 11

In [23]:
names(mtcars) # names of the columns

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [24]:
for (name in names(mtcars)) {
    print(sprintf("The mean of column %s is %f", name, mean(mtcars[[name]])))
}

[1] "The mean of column mpg is 20.090625"
[1] "The mean of column cyl is 6.187500"
[1] "The mean of column disp is 230.721875"
[1] "The mean of column hp is 146.687500"
[1] "The mean of column drat is 3.596563"
[1] "The mean of column wt is 3.217250"
[1] "The mean of column qsec is 17.848750"
[1] "The mean of column vs is 0.437500"
[1] "The mean of column am is 0.406250"
[1] "The mean of column gear is 3.687500"
[1] "The mean of column carb is 2.812500"

In [27]:
for (row_name in row.names(mtcars)) {
    print(str_to_upper(row_name))
}

[1] "MAZDA RX4"
[1] "MAZDA RX4 WAG"
[1] "DATSUN 710"
[1] "HORNET 4 DRIVE"
[1] "HORNET SPORTABOUT"
[1] "VALIANT"
[1] "DUSTER 360"
[1] "MERC 240D"
[1] "MERC 230"
[1] "MERC 280"
[1] "MERC 280C"
[1] "MERC 450SE"
[1] "MERC 450SL"
[1] "MERC 450SLC"
[1] "CADILLAC FLEETWOOD"
[1] "LINCOLN CONTINENTAL"
[1] "CHRYSLER IMPERIAL"
[1] "FIAT 128"
[1] "HONDA CIVIC"
[1] "TOYOTA COROLLA"
[1] "TOYOTA CORONA"
[1] "DODGE CHALLENGER"
[1] "AMC JAVELIN"
[1] "CAMARO Z28"
[1] "PONTIAC FIREBIRD"
[1] "FIAT X1-9"
[1] "PORSCHE 914-2"
[1] "LOTUS EUROPA"
[1] "FORD PANTERA L"
[1] "FERRARI DINO"
[1] "MASERATI BORA"
[1] "VOLVO 142E"

# While loops

In [28]:
roll_dice <- function() sample(1:6, 1)

In [29]:
roll_dice()

[1] 2

In [37]:
num_sixes <- 0
roll_count <- 0
while (num_sixes < 2) {
    if (roll_dice() == 6) {
        num_sixes <- num_sixes + 1
    } else {
        num_sixes <- 0
    }
    roll_count <- roll_count + 1
}
print(sprintf("It took %d rolls to get two sixes in a row", roll_count))

[1] "It took 2 rolls to get two sixes in a row"

# The map functions