Before you turn this problem set in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All). Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

You should not use `install.packages()` anywhere. You may assume that we have already installed all the packages needed to run your code.

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE" and delete the `stop()` functions, as well as your name and collaborators below:

In [ ]:
NAME = ""  # your uniqname 
COLLABORATORS = c()  # vector of uniqnames of your collaborators, if any
## IMPORTANT: you must also have set your group on Canvas. This is only used as a backup.

---

In [ ]:
library(tidyverse)
library(nycflights13)

# STATS 306
## Problem Set 3: Data Manipulation II
These questions again focus on the `flights` dataset. Each question is worth two points, for a total of 20.

Problems 1-3 are based on the `billionaires` dataset that we discussed in Lecture 06. Assume citizenship equals country throughout.

In [ ]:
load("bil.RData")
print(bil)

#### Problem 1
In which country are billionaires oldest on average? Youngest? Do not count any country which has less than five observations. Store your answers in variables `oldest1` and `youngest1`, respectively.

In [ ]:
oldest1 <- NA
youngest1 <- NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("oldest1"))
stopifnot(exists("youngest1"))

#### Problem 2
Each billionaire has a `category` indicating how they made their fortune. The overall distribution of categories is:

In [ ]:
table(bil$category)

Group the billionaires into three age brackets: "40 and under", "41 to 65", and "above 65". (There are just 77 billionaires aged 40 and under, for example.) What is the most common category of billionaire in each of the three age brackets? Store your answer in `table2`. The table should have three rows (one per category) and three columns: `age_bracket`, `most_common_category` and `n`, the number of billionaires in the most common category.

In [ ]:
table2 <- NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table2"))

#### Problem 3
Define a country's "gender gap" to be the difference in the percentage of male and female billionaires. (Hence, it is equal to zero if the country has exactly equal numbers of male and female billionaires.) 

Only one country has an equal number of male and female billionaires. The average gender gap across all countries is 0.85. If we plot countries according to their deviation from 0 (parity), grouping the 38 countries with no female billionaires into a single category, we obtain the following plot:

![plot3](plot3.png)

Recreate this plot.

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 4
Recall that each airplane has a unique tail number given by `tailnum`. Find the tail number of the airplane which flew to the largest number of *unique* destinations from any of the the three departure airports in `flights`. Store the string containing this tail number in a variable called `most_dests`.

In [ ]:
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("most_dests"))


#### Problem 5
The following code adds a variable `week` to `flights`, such that `week==1` for the first seven days of the year, `week==2` for days 8-14, etc. (In the second half of the semester we will learn how to manipulate dates using the `lubridate` package.)

In [ ]:
flights_week = mutate(flights, week=lubridate::week(time_hour))

Let a flight's "positive arrival delay" be defined as the larger of `arr_delay` and zero. We say a flight is *ridiculously late* if its arrival delay was more than ten times the average positive arrival delay for all flights in that week.
- Use the `flights_week` table to calculate the number of ridiculously late flights in each week of the year. For example, in the first week of the year there were 81 ridiculously late flights.
- Also add in the total number of flights in the data set for each week. 

Sort the resulting table in descending order of the number of ridiculously late flights and store it in a variable called `table5`. The table should have three columns, `week`, `n`, and `n_ridiculously_late`.

In [ ]:
table5 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table5"))

#### Problem 6
Use your solution in part 5
to generate a bar plot of the number of ridiculously late flights each week. Give your plot an appropriate title and axis labels.

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 7
Your plot in problem 6 should have a curious feature: in a couple of weeks there were far fewer ridiculously late flights than the rest. 
- Investigate this further by determining the fraction of arrival delays which were missing in each week. For example, in week 1, 0.92% of flights had missing arrival delay times.
- Additionally, rank each week by this fraction. The week with the highest fraction of missing arrival delay times should have rank one, second highest rank two, and so on.

Store the result in a variable called `table7`. 
Your table should have three columns: `week`, `frac_miss_arr_delay` and `rank`.

In [ ]:
table7 = NA
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table7"))

#### Problem 8
For the week with the highest fraction of missing arrival times in problem 6, generate a table `table8` which shows the total number of missing arrival delays for each hour and day of that week. Your table should have columns `year`, `month`, `day`, `hour`, and `n_miss_arr_delay`.

In [ ]:
# YOUR CODE HERE
stop()

In [ ]:
stopifnot(exists("table8"))

#### Problem 9
Two days in `table8` should stand out from the rest. To figure out what is going on, we will join in some weather data from the `weather` table. Since we have not yet covered joins, this table is provided for you:

In [ ]:
table9 = weather %>% filter(origin=="LGA") %>% left_join(table8, .)
print(table9)

Define a new variable `snowfall` in table 9, which is equal to hourly precipitation (in millimeters) if the temperature is below 40 degrees Fahrenheit in that hour, and zero otherwise.

Use `table9` to generate two plots: 

1. A bar plot of total snowfall for each day of the week in question, and
2. A line showing the total number of flights with missing arrival times for each day.

Store these plots in variables `p1` and `p2`, respectively, and use the following command to combine them:

```{r}
gridExtra::grid.arrange(p1, p2, nrow=2)
```

Your final plot should look like this:

![problem 9](p9.png)

In [ ]:
# YOUR CODE HERE
stop()

#### Problem 10
In your own words, summarize your findings from problems 8-10. What do `NA`s for arrival and departure delay likely represent in these data?

YOUR ANSWER HERE